.button.is-white.is-outlined {
  background: transparent;
  border-color: white;
  color: white;
}

.button.is-white.is-outlined:hover, .button.is-white.is-outlined:focus {
  border-color: #eeeeee;
  color: #eeeeee;
}
